body {
    background-color: yellow;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    color: blue;
}

p {
    color: red;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    font-style: italic;
}

p>u {
    color: black;
    font-size: 22pt;
    font-style: underline;
}

p i {
    color: green;
    font-size: 20px;
} 

.p2 {
    text-align: right;
    font-family: "Times New Roman", serif;
    font-size: 16px; /* wyrobi? */
}

.p3 {
    text-align: left;
    color: silver;
    font-family: serif;
    font-size: 12px; /* chyba wystarczająco małe */
    font-weight: normal; /* żeby nie było pogrubione */
    font-style: normal; /* żeby nie był italic */
}

#rudy {
    background-color: grey;
}

#rudy h1 {
    background-color: red;
    border: 2px dotted;
    border-color: #2137ff;
    margin-bottom: 2cm;
}

#gasnica {
    background-color: white;
    margin-top: 10px;
    padding-top: 30px;
}

#gasnica h3 {
    color: green;
    background-color: yellow;
    margin: 0;
    font-family: serif;
    border: 3px double;
}

.przedpel {
    width: auto;
    background-color: grey;
    height: 50px;
}